<div class="search pull-right">
	<a class="top-search"><i class="fl-bigmug-line-search74"></i></a>
	<div id="search">
		<div class="inner">
		<input type="text" name="search" value="<?php echo $search; ?>" placeholder="" />
			<button type="button" class="button-search"><i class="fl-bigmug-line-search74"></i></button>
		</div>
		<div class="clear"></div>
	</div>
</div>