input[type="radio"] + label {
  padding-left: 20px;
  padding-right: 30px; }
  input[type="radio"] + label:before {
    right: 0;
    left: auto; }
  input[type="radio"] + label:after {
    right: 2px;
    left: auto; }

header .nav > .toggle_cont {
  text-align: right; }
  header .nav > .toggle_cont > li {
    float: right; }
    header .nav > .toggle_cont > li.pull-left .dropdown-menu {
      text-align: right; }

.top .banners {
  text-align: right; }
  .top .banners > div.banner-3 .s-desc {
    right: 0; }
  .top .banners ul li a:before {
    float: right;
    margin-right: 0;
    margin-left: 48px; }
    @media (max-width: 1619px) and (min-width: 1200px) {
      .top .banners ul li a:before {
        margin-left: 20px; } }
    @media (max-width: 1199px) and (min-width: 992px) {
      .top .banners ul li a:before {
        margin-left: 10px; } }
    @media (max-width: 991px) and (min-width: 768px) {
      .top .banners ul li a:before {
        margin-left: 8px; } }
    @media (max-width: 767px) {
      .top .banners ul li a:before {
        margin-left: 20px; } }
  .top .banners > div .s-desc {
    left: auto;
    right: 9.5%; }
    @media (max-width: 1619px) and (min-width: 1200px) {
      .top .banners > div .s-desc {
        left: auto;
        right: 5%; } }
    @media (max-width: 1199px) and (min-width: 992px) {
      .top .banners > div .s-desc {
        left: auto;
        right: 6%; } }
    @media (max-width: 991px) and (min-width: 768px) {
      .top .banners > div .s-desc {
        left: auto;
        right: 4%; } }

.toggle_cont {
  right: auto;
  left: 0; }

#search {
  right: auto;
  left: 27px; }
  #search .inner .button-search {
    right: auto;
    left: 0; }

.newsletter .box-heading {
  text-align: right; }

.toggle_cont ul {
  text-align: right; }

.sf-menu .sf-mega_section {
  float: right;
  text-align: right; }

.swiper-slide > .container > span {
  right: auto;
  left: 8%; }
.swiper-slide > .container > div {
  padding-left: 0;
  padding-right: 50px; }
  .swiper-slide > .container > div:before {
    left: auto;
    right: 0; }

.swiper-slide.slide-2 > .container > span {
  right: auto;
  left: -8%; }

.swiper-slide.slide-3 > .container > span {
  right: auto;
  left: 38%; }

.ajax-quickview-cont-wrap .counter + .product-btn-add {
  margin-left: 0;
  margin-right: 20px; }

.product-btn i {
  margin-left: 3px;
  margin-right: 0;
  float: right; }

.cart .toggle_cont {
  right: auto;
  left: 0; }
.cart > button i {
  float: right;
  margin-right: 0;
  margin-left: 7px; }
.cart > button .cart-total2 {
  right: auto;
  left: 0; }
.cart .cart-remove-btn:before {
  margin-right: 0;
  margin-left: 3px;
  float: right; }

.module_tab .nav-tabs > li + li {
  margin-left: 0;
  margin-right: 27px; }

.btn-icon + .btn-icon {
  margin-left: 0;
  margin-right: 2px; }

.product-options .checkbox label {
  text-align: right;
  padding: 5px 45px 5px 5px; }
  .product-options .checkbox label:before, .product-options .checkbox label:after {
    right: 13px;
    left: auto; }
.product-options .control-label {
  text-align: right; }
.product-options .radio, .product-options .radio.image-view {
  float: right; }

div.required .control-label:after {
  margin-left: 0;
  margin-right: 5px; }

.breadcrumb > li + li {
  padding-right: 20px; }
  .breadcrumb > li + li:before {
    content: '\e0c3';
    position: absolute;
    top: 50%;
    right: 0;
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%); }

.product-list .product-thumb .aside .product-btn {
  float: right; }

[data-clear] + .product-layout {
  clear: right; }

.text-left {
  text-align: right; }

.text-right {
  text-align: left; }

.pull-right {
  float: left !important; }

.pull-left {
  float: right !important; }

.discount {
  direction: ltr; }

.product_model.model > p {
  display: inline-block; }

.alert {
  padding: 18px 75px 18px 40px; }
  .alert i {
    right: 0;
    left: auto; }
  .alert button.close {
    left: 15px;
    right: auto; }

.sbHolder {
  text-align: right; }

.sbToggle {
  left: 0;
  right: auto; }

.sbSelector {
  right: 0;
  left: 30px; }

.button-view button + button {
  border-right: 1px solid #babcce;
  border-left: none; }

.product-filter_elem.show .sbHolder {
  border-right: 1px solid #babcce; }

.product-filter label {
  margin: 0 10px 0 5px; }

.article-sub-title {
  display: block; }
  .article-sub-title:before, .article-sub-title:after {
    display: table;
    content: "";
    line-height: 0; }
  .article-sub-title:after {
    clear: both; }
  .article-sub-title > span {
    position: relative;
    display: inline-block; }
    .article-sub-title > span:before {
      position: absolute;
      right: 0;
      top: 50%;
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      margin: 0; }

.newsletter input {
  margin-right: 0;
  margin-left: 7px;
  float: right; }
.newsletter .btn {
  float: left;
  padding-left: 20px;
  padding-right: 10px; }

.social-list li {
  float: right; }
  .social-list li + li {
    margin-left: 0;
    margin-right: 17px; }

.product-list .product-thumb .image, .product-list .product-thumb .caption, .product-list .product-thumb .aside {
  float: right; }
.product-list .product-thumb .caption, .product-list .product-thumb .aside {
  padding-left: 0;
  padding-right: 30px;
  text-align: right; }

.ajax-quickview-images {
  float: right; }

.product-btn + .product-btn {
  margin-left: 0;
  margin-right: 15px; }

.article-description ul li, .article-description ol li {
  padding-left: 0;
  padding-right: 50px; }
  .article-description ul li:before, .article-description ol li:before {
    right: 0;
    left: auto; }

.article-comment .author {
  float: right; }
.article-comment .reply-message {
  float: left; }

.reply-cancel {
  text-align: left; }

.product-gallery {
  direction: ltr; }

.pagination > li {
  float: right; }
  .pagination > li + li:nth-child(5n+6) {
    clear: right; }

.product_tabs .nav-tabs {
  float: right; }
  .product_tabs .nav-tabs > li {
    text-align: right; }
.product_tabs .tab-content {
  padding-left: 5px;
  padding-right: 30px;
  border-left: none;
  border-right: 1px solid #babcce; }

.sf-menu .simple_menu {
  left: auto;
  right: 100%; }

.sf-menu > li + li {
  margin-left: 0;
  margin-right: 43px; }

.contact_page .icon {
  padding-left: 0;
  padding-right: 70px; }
  .contact_page .icon:before {
    right: 0;
    left: auto; }

.toggle_cont > li > a, .toggle_cont > li > button {
  text-align: right; }

.toggle_cont__right {
  right: 0;
  left: auto; }

.testimonials .owl-nav {
  direction: ltr; }

.human_info .thumbnail {
  float: right;
  margin-left: 20px;
  margin-right: 0; }
.human_info p {
  text-indent: 0;
  direction: rlt; }

.search input[type="text"] {
  padding-left: 25px;
  padding-right: 6px; }

.search button, .search button:focus, .search button:active {
  right: auto;
  left: 0; }

#livesearch_search_results {
  text-align: right; }
  #livesearch_search_results li img {
    float: right;
    margin-right: 0;
    margin-left: 10px; }

.product-filter_elem {
  float: right; }
  .product-filter_elem.show .sbHolder {
    border-left: none; }

.product-filter .compare-total {
  border-right: none;
  border-left: 1px solid #babcce; }

/*------------------------------------------------*/
@media (max-width: 1399px) {
  .swiper-slide.slide-2 > .container > span {
    right: auto;
    left: 1%; } }
@media (min-width: 768px) {
  header .search, header .box-cart, header .nav {
    float: left; }

  header .box-cart {
    margin-left: 0; }

  header .nav > .toggle_cont .search {
    margin-right: 0;
    margin-left: 30px; }

  .fancybox-outer .counter + .product-btn {
    margin-left: 0;
    margin-right: 15px; }

  .fancybox-close {
    right: auto;
    left: -18px; }

  section.bottom .blog_articles .blog_articles-block > .col-sm-6 {
    float: left; } }
@media (max-width: 1199px) and (min-width: 992px) {
  .cart button.toggle:before {
    margin-right: -10px; } }
@media (max-width: 767px) {
  #search {
    left: auto; }

  .product_tabs .tab-content {
    border-right: none; }

  .rd-mobilepanel_title {
    right: 110px; }

  .rd-mobilemenu_submenu {
    text-align: right;
    padding: 0; }

  .rd-mobilemenu {
    text-align: right; }

  .rd-mobilemenu_ul a {
    padding-left: 45px;
    padding-right: 20px; }
    .rd-mobilemenu_ul a .rd-submenu-toggle {
      right: auto;
      left: 11px; }

  .cart .toggle_cont, .toggle_cont {
    left: auto;
    right: 0; }

  .top .banners > div .s-desc,
  .top .banners > div.banner-3 .s-desc {
    left: 50%;
    right: auto; }

  .top .banners > div.banner-3 .s-desc {
    bottom: auto;
    height: auto;
    padding-bottom: 5%; }

  .top .banners > div.banner-2 .s-desc {
    text-align: right; }

  .newsletter input {
    margin-left: 0; } }
