/*---------------------------------*/
body,
h1, h2, h3, h4, h5, h6,
.top .banners > div.banner-1 p,
.sf-menu > li > .sf-with-ul:before,
.cart > button i,
header .nav > .toggle,
header .nav > .toggle span,
.top-search,
.top-search i,
#search .inner .button-search,
.cart > button:hover i,
.cart > button.active i,
strong, b,
.breadcrumb i,
.owl-carousel .owl-nav div:hover,
.button-view,
.product-list .product-thumb .price,
.product-list .product-thumb .price-new,
.product-list .product-thumb .aside,
.product-list .product-thumb .name a,
.product-list .product-thumb .name a:visited,
.pagination > li > a,
.pagination > li > span,
.price-section .price-new,
.price-section .price-section .price-old,
.general_info .product-section strong,
.manufacturer-content div a,
#content ul.list-unstyled a,
#product label,
.product_tabs .nav-tabs > li > a,
.product-spec .table td:first-child,
.review-form-title h3:hover,
.count-box strong,
.table thead td,
.table th,
.delivery_page .table tbody td:first-child,
.delivery_page .table tbody td:last-child,
aside .blog-categories ul > li > a,
aside #blog-search a,
aside #blog-search a:hover,
.article-title,
.article-sub-title,
.article-sub-title span:before {
  color: #394c50; }

.manufacturer-content div, #content ul.list-unstyled a:hover {
  color: #63858c; }

.rd-mobilepanel_toggle span:after, .rd-mobilepanel_toggle span:before, .rd-mobilepanel_toggle span {
  background-color: #809ca2; }

.rd-mobilemenu_ul a:hover {
  background-color: #394c50; }

.contact_page .map,
.contact_page .panel,
.delivery_page .table,
.well {
  border-top-color: #394c50; }

.review-form-title h3 {
  border-bottom-color: #394c50; }

.review-form-title h3:before {
  border-top-color: #394c50; }

.article-title h3 a:hover, .article-title h3 a:focus, .article-title h3 a:active {
  color: #bacace; }

.article-title a:hover {
  color: #bacace; }

.counter:hover, .counter:focus:hover {
  color: #bacace; }

.product_tabs .nav-tabs > li > a:hover, .product_tabs .nav-tabs > li > a:focus {
  color: #9cb4b9; }
.product_tabs .nav-tabs > li.active > a {
  color: #9cb4b9; }

.product-gallery .image-thumb .bx-wrapper .bx-prev:hover, .product-gallery .image-thumb .bx-wrapper .bx-next:hover {
  color: #394c50; }

.pagination > li.active > a,
.pagination > li.active > a:hover,
.pagination > li.active > a:focus,
.pagination > li.active > span,
.pagination > li.active > span:hover,
.pagination > li.active > span:focus {
  background-color: #394c50; }

.btn, .btn-default, .btn-success, .btn-info, .btn-warning, .btn-danger {
  color: #adb1b3; }
  .btn:visited, .btn-default:visited, .btn-success:visited, .btn-info:visited, .btn-warning:visited, .btn-danger:visited {
    color: #adb1b3; }
  .btn:hover, .btn:active, .btn:focus, .btn:active:focus, .btn:active:hover, .btn-default:hover, .btn-default:active, .btn-default:focus, .btn-default:active:focus, .btn-default:active:hover, .btn-success:hover, .btn-success:active, .btn-success:focus, .btn-success:active:focus, .btn-success:active:hover, .btn-info:hover, .btn-info:active, .btn-info:focus, .btn-info:active:focus, .btn-info:active:hover, .btn-warning:hover, .btn-warning:active, .btn-warning:focus, .btn-warning:active:focus, .btn-warning:active:hover, .btn-danger:hover, .btn-danger:active, .btn-danger:focus, .btn-danger:active:focus, .btn-danger:active:hover {
    color: #2e3f42; }

.btn-primary {
  color: #fff;
  background: #4e686e; }
  .btn-primary:visited {
    color: #fff;
    background: #4e686e; }
  .btn-primary:hover, .btn-primary:active, .btn-primary:focus, .btn-primary:active:focus, .btn-primary:active:hover {
    color: #fff;
    background: #2e3f42; }

.product-btn {
  color: #394c50; }
  .product-btn:visited {
    color: #394c50; }
  .product-btn:hover, .product-btn:active, .product-btn:focus {
    color: #bacace; }

#list-view.active,
#grid-view.active,
#list-view:hover,
#grid-view:hover {
  color: #bacace; }

.fa-stack i {
  color: #bacace; }
  .fa-stack i.star {
    color: #394c50; }

.price-new, .price-old, .price {
  color: #394c50; }

.product-thumb .price-old {
  color: #bacace; }

.ajax-quickview-images .next-img,
.ajax-quickview-images .prev-img {
  color: #394c50; }
  .ajax-quickview-images .next-img:hover,
  .ajax-quickview-images .prev-img:hover {
    color: #bacace; }

.radio.image-view input[type="radio"]:checked + label:before {
  border-color: #394c50; }

input[type="radio"]:checked + label:after {
  background-color: #394c50; }

footer {
  background: #2e3f42; }

.newsletter .btn {
  color: #2e3f42; }
  .newsletter .btn:visited {
    color: #2e3f42; }
  .newsletter .btn:hover, .newsletter .btn:active, .newsletter .btn:focus, .newsletter .btn:active:focus, .newsletter .btn:active:hover {
    color: #bacace; }
.newsletter input {
  color: #394c50; }

.social-list a {
  color: #2e3f42; }
  .social-list a:visited {
    color: #2e3f42; }
  .social-list a:hover, .social-list a:focus, .social-list a:active {
    background: #445154; }

.ui-to-top {
  background: rgba(186, 202, 206, 0.5); }
  .ui-to-top:hover {
    background: #7f9da3; }

.product-thumb .caption {
  background: rgba(57, 76, 80, 0.9); }

.sale, .discount {
  background: #394c50; }

.new-pr {
  color: #394c50; }

.bottom .banners,
.bottom .banners > div .s-desc {
  background-color: #394c50; }

#livesearch_search_results {
  background-color: #394c50; }
  #livesearch_search_results li a {
    color: #bacace; }
  #livesearch_search_results li:hover, #livesearch_search_results li.highlighted {
    background-color: #394c50; }

.name {
  color: #394c50; }
  .name a {
    color: #394c50; }
    .name a:visited {
      color: #394c50; }
    .name a:hover, .name a:active, .name a:focus {
      color: #7f9da3; }

.product-thumb .name a:hover, .product-thumb .name a:active, .product-thumb .name a:focus {
  color: #bacace; }

.box-cart .name a:hover, .box-cart .name a:active, .box-cart .name a:focus,
.box-cart .cart-remove-btn:hover,
.box-cart .cart-remove-btn:active,
.box-cart .cart-remove-btn:focus {
  color: #bacace; }

.box-cart .btn-danger:hover,
.box-cart .btn-danger:focus:hover {
  color: #bacace; }

.dropdown-menu {
  color: #adb1b3;
  background: #394c50; }

.top-search:hover, .top-search:focus, .top-search:active, .top-search.active {
  color: #394c50; }
  .top-search:hover i, .top-search:focus i, .top-search:active i, .top-search.active i {
    color: #394c50; }

header .nav > .toggle:hover {
  color: #202e31; }

.cart > button .cart-total2 {
  color: #adb1b3; }

.toggle_cont {
  color: #adb1b3;
  background-color: #394c50; }

.sf-menu .sf-mega {
  background-color: #394c50; }
  .sf-menu .sf-mega .submenu_title a {
    color: #adb1b3; }
    .sf-menu .sf-mega .submenu_title a:visited {
      color: #adb1b3; }
    .sf-menu .sf-mega .submenu_title a:hover, .sf-menu .sf-mega .submenu_title a:focus, .sf-menu .sf-mega .submenu_title a:active {
      color: #fff; }
  .sf-menu .sf-mega .submenu_category_title a, .sf-menu .sf-mega .submenu_category_title ul li ul li a, .sf-menu .sf-mega .sf-mega_section a, .sf-menu .sf-mega .sf-mega_section ul li ul li a {
    color: #adb1b3; }
    .sf-menu .sf-mega .submenu_category_title a:visited, .sf-menu .sf-mega .submenu_category_title ul li ul li a:visited, .sf-menu .sf-mega .sf-mega_section a:visited, .sf-menu .sf-mega .sf-mega_section ul li ul li a:visited {
      color: #adb1b3; }
    .sf-menu .sf-mega .submenu_category_title a:hover, .sf-menu .sf-mega .submenu_category_title a:focus, .sf-menu .sf-mega .submenu_category_title a:active, .sf-menu .sf-mega .submenu_category_title a.active, .sf-menu .sf-mega .submenu_category_title ul li ul li a:hover, .sf-menu .sf-mega .submenu_category_title ul li ul li a:focus, .sf-menu .sf-mega .submenu_category_title ul li ul li a:active, .sf-menu .sf-mega .submenu_category_title ul li ul li a.active, .sf-menu .sf-mega .sf-mega_section a:hover, .sf-menu .sf-mega .sf-mega_section a:focus, .sf-menu .sf-mega .sf-mega_section a:active, .sf-menu .sf-mega .sf-mega_section a.active, .sf-menu .sf-mega .sf-mega_section ul li ul li a:hover, .sf-menu .sf-mega .sf-mega_section ul li ul li a:focus, .sf-menu .sf-mega .sf-mega_section ul li ul li a:active, .sf-menu .sf-mega .sf-mega_section ul li ul li a.active {
      color: #fff; }

.top .banners ul li a:hover:before {
  color: #bacace; }

.top .banners > div a:hover .s-desc h2,
a:hover {
  color: #bacace; }

.top .banners > div.banner-3 .s-desc {
  background-color: rgba(57, 76, 80, 0.9); }

.sf-menu > li > a, .sf-menu > li > span {
  color: #394c50; }
.sf-menu > li.active > a, .sf-menu > li > a:hover, .sf-menu > li > a:focus, .sf-menu > li > a:active, .sf-menu > li.sfHover > a, .sf-menu > li > a.active, .sf-menu > li.sfHover > span {
  color: #787f81; }

.icon-box i {
  border-color: #394c50;
  color: #394c50; }

.testimonials blockquote:before {
  color: #394c50; }

.privacy_page ol li h4:before {
  background-color: #394c50; }

.bootstrap-datetimepicker-widget td.day.active {
  background-color: #394c50; }
  .bootstrap-datetimepicker-widget td.day.active:hover {
    background-color: #394c50; }

.bootstrap-datetimepicker-widget td.day:hover, .bootstrap-datetimepicker-widget td.minute:hover, .bootstrap-datetimepicker-widget td.hour:hover, .bootstrap-datetimepicker-widget td.second:hover, .bootstrap-datetimepicker-widget thead tr:first-child th:hover, .bootstrap-datetimepicker-widget td span:hover {
  color: #394c50; }

.terms_conditions_page h4:before,
.contact_page .icon:before {
  color: #394c50; }

.contact_page .icon:before {
  border-color: #394c50; }

.datepicker .prev:hover, .datepicker .prev.active, .datepicker .next:hover, .datepicker .next.active, .datepicker .day:hover, .datepicker .day.active, .datepicker .year:hover, .datepicker .year.active, .datepicker .month:hover, .datepicker .month.active, .datepicker .picker-switch:hover, .datepicker .picker-switch.active {
  color: #394c50; }

@media (max-width: 767px) {
  aside .box .box-heading {
    border-bottom-color: #394c50; } }
